<html>
<body>
<section>
    <column>

        <text font-size="20px" color="#F45E43" font-family="helvetica">Bonjour {{ membre.username }},</text>
        <br>
        <text font-size="15px" color="#F45E43" font-family="helvetica">Vous avez reçu ce mail car il semblerait que vous avez perdu votre mot de passe. Votre nouveau mot de passe est <b>{{ password }}</b>. Afin de valider cette modification de mot de passe, veuillez cliquer <a href="{{ url('membre.verify_password', {'id': membre.id, 'password': password, 'token': csrf_token('password' ~ membre.id)}) }}">ici</a> </text>
        <br>
        <text font-size="15px" color="#F45E43" font-family="helvetica">Si vous n'avez pas perdu votre mot de passe, veuillez ignorer ce message et le supprimer.</text>
        <br>
        <text font-size="15px" color="#F45E43" font-family="helvetica">Cordialement,</text>
        <br>
        <text font-size="15px" color="#F45E43" font-family="helvetica">L'administrateur de KitcheNice.</text>

    </column>
</section>
</body>
</html>