{% block body %}
    <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#myModal">
        +📚
    </button>

    <div class="modal fade" id="myModal">
        <div class="modal-dialog">
            <div class="modal-content">

                <!-- Modal Header -->
                <div class="modal-header">
                    <h4 class="modal-title">Ajouter dans un cahier</h4>
                    <button type="button" class="close" data-dismiss="modal">&times;</button>
                </div>

                <!-- Modal body -->
                <div class="modal-body">
                    <form action="{{ path('recette.addCahier', {'id': recette.id}) }}" method="post">
                        {{ form_start(form) }}
                         {{ form_widget(form) }}
                         <button class="btn btn-primary">Valider</button>
                        {{ form_end(form) }}
                    </form>
                </div>

                <!-- Modal footer -->
                <div class="modal-footer">
                    <button type="button" class="btn btn-danger" data-dismiss="modal">Fermer</button>
                </div>

            </div>
        </div>
    </div>
{% endblock %}