{% extends 'base.html.twig' %}

{% block title 'Créer Recette' %}

{% block body %}
    <div class="container mt-4">
        <div class="row">
            <div class="col-md-1"></div>
            <div class="col-md-10 fiche_recette login_form">
                {{ include ('recette/_form.html.twig', {form: form, button: 'Créer'}) }}
            </div>
            <div class="col-md-1"></div>
        </div>

    </div>
{% endblock %}

{% block stylesheets %}
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/select2/4.0.6/css/select2.min.css">
{% endblock %}
