{% extends 'base.html.twig' %}

{% block title 'Membres' %}

{% block body %}
    <h3 class="text-center">Page des membres</h3>
    <a href="{{ path('membre.new') }}">Créer un compte</a>
{% endblock %}